*{
    margin: 0;
    padding: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/spaceBackground.png');
    background-size: contain;
}

body {
    overflow: hidden;
}